__pycache__
.env
.idea
.python-version
.ruff_cache
.vscode

cache
dist

# don't save any of the large files
source_files/*.pbf
# Large files - do not commit ComStock results
datasets/comstock/comstock_metadata.parquet
datasets/comstock/All-All-All-0-selected_metadata.csv
datasets/comstock/CO-*.csv

